<!doctype html>
<html lang="en">
<head>
  <title>openclocking</title>
  <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <div class="row">
      <a href="https://play.google.com/store/apps/details?id=br.com.netoreboucas.ponto">Easy Clocking (Ponto Fácil)</a>
    </div>
    <div class="row">
      <form action="/import" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="send">
      </form>
    </div>
  </div>
</body>