<!doctype html>
<html lang="en">
<head>
  <title>openclocking</title>
  <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    function ShowHiddenText(id) {
      document.getElementById("hiddenButtonEdit".concat(id)).style.display = "none";
      document.getElementById("hiddenInput".concat(id)).style.display = "block";
      document.getElementById("hiddenButtonSend".concat(id)).style.display = "block";
    }
  </script>
</head>
<body>
  <div class="container">
    <div class="row">
      <h2>Welcome to openclocking!</h2>
    </div>
    <div class="row">
      <h3>Currently seeing {{ request.path.replace("/", "") }}</h3>
    </div>
    <ul>
      {% for value in values %}
      <li>
        <div class="row">
          <p>{{ value["time"] }}</p>
          <form action="/client/api/delete/{{ request.path.replace("/", "") }}" method="POST" style="background-color: #f8f8f8;border: #f8f8f8; margin:0px; padding:0px">
            <input type="hidden" id="id" name="id" value={{ value["id"] }}>
            <button style="background-color: #f8f8f8; margin:0px; padding:5px">🗑️</button>
          </form>
          <form action="/client/api/put/{{ request.path.replace("/", "") }}" method="POST" style="background-color: #f8f8f8;border: #f8f8f8; margin:0px; padding:0px">
            <button id=hiddenButtonEdit{{ value["id"] }} onclick="ShowHiddenText({{ value["id"] }});" style="background-color: #f8f8f8;  margin:0px; padding:5px">✏️</button>
            <input type="hidden" id=hiddenInputId{{ value["id"] }} name="id" value={{value["id"]}}>
            <input type="text" id=hiddenInput{{ value["id"] }} name="time" style="display: none;" placeholder="hh:mm" pattern="[0-2][0-9]:[0-5][0-9]" required="true">
            <button id=hiddenButtonSend{{ value["id"] }} style="display: none;">send</button>
          </form>
        </div>
      </li>
      {% endfor %}
    </ul>
    <div class="row">
      <form action="/client/api/{{ request.path.replace("/", "") }}" method="POST" style="background-color: #f8f8f8;border: #f8f8f8; margin:0px; padding:0px">
        <div class="form-group">
          <input type="text" class="form-control" id="time" name="time" placeholder="hh:mm" pattern="[0-2][0-9]:[0-5][0-9]" required="true">
        </div>
        <button type="submit" class="btn btn-primary">Clock!</button>
      </form>
    </div>
  </div>
</body>
